'scopeName': 'text.tessla.trace'
'name': 'TeSSLa Trace'
'fileTypes': [
  'input'
]
'limitLineLength': false
'patterns': [
  {
    'comment': 'Strings'
    'match': '"[^"]*"'
    'name': 'punctuation.string'
  },
  {
    'comment': 'Time unit'
    'match': '(\\$timeunit)'
    'name': 'keyword.other'
  },
  {
    'comment': 'Other keywords'
    'match': '\\b(\\d+)\\s*:\\s+(\\w[\\w\\d_]*)?'
    'captures':
      1:
        'name': 'keyword.other'
      2:
        'name': 'variable.other'
  },
  {
    'comment': 'Assignment operator'
    'match': '='
    'name': 'keyword.operator.assignment'
  },
  {
    'comment': 'Numbers'
    'match': '((?:\\b\\d*\\.?\\d+(?:e[+-]\\d+)?|(?:x[0123456789abcdefABCDEF]+)|(?:b[01]+)|(?:o[01234567]+)\\b))'
    'name': 'constant.numeric'
  }
]
